/* ===== Layout ===== */
.dashboard {
  /* max-width: 600px; */
  margin: auto;
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: #f5f6fa;
  min-height: 100vh;
  padding-top: 120px;
}

/* ===== Create Post ===== */
.create-post {
  background: #fff;
  border-radius: 16px;
  padding: 14px;
  margin-bottom: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
}

.create-post textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 15px;
  outline: none;
  min-height: 60px;
}

.preview-image {
  width: 100%;
  border-radius: 14px;
  margin-top: 10px;
  object-fit: cover;
}

/* ===== File Row ===== */
.file-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}

.file-row label {
  font-size: 13px;
  background: #f1f2f6;
  padding: 6px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.file-row button {
  margin-left: auto;
  background: #4f46e5;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}

.file-row button:disabled {
  opacity: 0.6;
}

/* ===== Feed ===== */
.feed {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* ===== Post Card ===== */
.post-card {
  background: #fff;
  border-radius: 18px;
  padding: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}

/* ===== Header ===== */
.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #4f46e5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* ===== Content ===== */
.post-text {
  margin: 6px 0 10px;
  font-size: 14px;
}

.post-image {
  width: 100%;
  border-radius: 16px;
  margin-top: 6px;
}

/* ===== Music ===== */
.music-box {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.music-box audio {
  width: 100%;
}

.download-btn {
  align-self: flex-start;
  text-decoration: none;
  background: #e0e7ff;
  color: #3730a3;
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 13px;
}
.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

.delete-btn:hover {
  background: #dc2626;
}
