.music-container {
    margin-top: -150px;
     background-image: url('../../../public/grow.jpg');

     min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  font-family: sans-serif;

}
.text-music {
    text-align: center;
    font-family: sans-serif;
    font-size: 23px;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 10px;

}
.img {
    height: 120px;
    border: 1px #060241e6 solid;
    box-shadow: 1px 2px 3px #060241e6;
    border-radius: 120px;

}
.sermons {
    display: flex;
    justify-content: right;
margin: 10px;
}
.sermons-right {
    background-color: white;
    height: 100%;
    color: black;
    border-radius: 10px;
    border: 1px solid blue;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 10px;
}
.italic-text {
    text-align: right;
}